.inspector-management {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    background-image: url('../assets/fondo15.jpg');
    background-size: cover; /* Asegura que la imagen cubra todo el contenedor */
    background-position: center; /* Centra la imagen en el contenedor */
    height: 100vh; /* Opcional: ajusta la altura al 100% de la ventana gráfica */
  }
  .loading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .loading-container p {
    margin-top: 10px; /* Espacio entre el spinner y el texto */
    color: #2AB2FF; /* Puedes cambiar el color según tu diseño */
    font-size: 16px; /* Ajusta el tamaño del texto */
  }
  .search-box {
    position: relative;
    margin-bottom: 20px;
    font-family: "Lexend";
  }
  
  .search-input {
    width: 50%;
    padding: 10px 10px 10px 10px;
    border: 1px solid #ccc;
    border-radius: 20px; /* Esquinas redondeadas */
    box-sizing: border-box;
    font-family: "Lexend";
  }
  
  .search-icon {
    position: absolute;
    right: 51%;
    top: 50%;
    transform: translateY(-50%);
    color: #ccc;
    cursor: pointer;
  }
    
    .buttons {
      display: flex; /* Usa Flexbox para controlar la alineación de los botones */
      justify-content: flex-end; /* Alinea los botones al final del contenedor (derecha) */
      margin-bottom: 20px;
      font-family: "Lexend";
    }
    
    .buttons button {
      padding: 10px 20px;
      margin-right: 10px;
      background-color: #2AB2FF; /* Color azul claro como en Figma */
      color: white; /* Texto blanco */
      border: none;
      border-radius: 5px; /* Esquinas redondeadas */
      cursor: pointer;
      font-family: "Lexend";
      transition: background-color 0.3s, box-shadow 0.3s;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    }
    
    .buttons button:hover {
      background-color: #1A91DA; /* Un tono de azul más oscuro al pasar el cursor */
      box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15); /* Sombra más prominente al pasar el cursor */
    }
    .status {
        padding: 5px 10px;
        color: white;
        text-align: center;
        border-radius: 20px; /* Da forma redondeada */
        font-weight: bold;
      }
      
      .table-container table {
        width: 100%;
        border-collapse: collapse; /* Elimina el espacio entre las celdas */
      }
      
      .table-container th, .table-container td {
        text-align: center; /* Centra el contenido horizontalmente */
        padding: 8px; /* Ajusta el padding según necesites */
      }
      
      .table-container th {
        background-color: #122B52; /* Color de fondo para las cabeceras */
        color: white; /* Color del texto para las cabeceras */
      }
      
      .table-container td {
        background-color: #fafafa; /* Color de fondo para las celdas */
        color: #333; /* Color del texto para las celdas */
      }
      .edit-button {
        background: none;
        border: none;
        color: #007BFF; /* Color azul */
        cursor: pointer;
        padding: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      
      .edit-button:hover {
        color: #0056b3; /* Un tono más oscuro de azul para el hover */
      }
      
      .status {
        padding: 5px 10px;
        color: white;
        text-align: center;
        border-radius: 20px; /* Bordes redondeados para los estados */
        font-weight: bold;
        display: inline-block; /* Asegura que el elemento del estado se comporte como bloque */
      }
      
      .active {
        background-color: #4CAF50; /* Verde para activo */
      }
      
      .inactive {
        background-color: #F44336; /* Rojo para inactivo */
      }
      
    h1{
      color:white;
      font-family: "Lexend";
    }.table-container {
      overflow: hidden; /* Oculta cualquier cosa que sobresalga del contenedor */
      border-radius: 8px; /* Aplica esquinas redondeadas al contenedor */
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra opcional para el contenedor */
    }
    
    table {
      width: 100%;
      border-collapse: collapse; /* Colapsa los bordes de la tabla */
    }
    
    th, td {
      padding: 10px;
      text-align: left;
      background-color: #fafafa; /* Fondo para las celdas */
    }
    
    th {
      background-color: #122B52;
      color: white;
      font-family: "Lexend";
    }
    
    td {
      background-color: #fafafa;
      font-family: "Lexend";
    }