.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Alinea el contenido entre sí */
  height: 100vh; /* Altura completa de la ventana */
  width: 250px;
  background-color: #122B52;
  color: white;
  padding: 20px;
}

.profile-info {
  display: flex;
  align-items: center;
  background-color: #34495E; /* Color de fondo similar al de los botones */
  font-family: "Lexend";
  padding: 10px;
  border-radius: 5px; /* Bordes redondeados como los botones */
}

.profile-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%; /* Hace la imagen circular */
  margin-right: 10px; /* Espacio entre la imagen y el texto */
}

.profile-name {
  font-size: 16px;
  font-weight: bold;
  margin-left: 10px;
}

.divider {
  height: 2px;
  background-color: white;
  margin: 20px 0;
}


.navigation-buttons {
  flex-grow: 1; /* Permite que este contenedor crezca y ocupe el espacio disponible */
}

.navigation-buttons button {
  display: flex;
  align-items: center; /* Alinea los ítems en el centro verticalmente */
  justify-content: start; /* Alinea el contenido al inicio del botón */
  background-color: #34495E;
  color: white;
  border: none;
  padding: 15px 20px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 10px;
  transition: background-color 0.3s;
  cursor: pointer;
  font-size: 16px;
  font-family: "Lexend";
  border-radius: 10px;
}

.navigation-buttons button svg {
  margin-right: 15px; /* Espacio entre el icono y el texto */
  min-width: 26px; /* Asegura que todos los iconos tengan el mismo ancho */
}


.navigation-buttons button:hover {
  background-color: #2AB2FF;
}

.logout-section {
  padding-top: 20px; /* Espacio extra en la parte superior del botón de cerrar sesión */
  margin-bottom: 40px;
}

.logout-button {
  background-color: #E74C3C;
  color: white;
  border: none;
  padding: 15px 20px; /* Aumenta el padding para hacer el botón más grande */
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: "Lexend";
  width: 100%; /* Ajusta el ancho para llenar el contenedor */
  border-radius: 10px; /* Bordes redondeados */
  align-items: center;
}

.logout-button:hover {
  background-color: #C0392B;
}
