.inspector-management {
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  background-image: url('../assets/fondo15.jpg');
  background-size: cover; /* Asegura que la imagen cubra todo el contenedor */
  background-position: center; /* Centra la imagen en el contenedor */
  height: 100vh; /* Opcional: ajusta la altura al 100% de la ventana gráfica */
}
.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.status {
  padding: 5px 10px;
  color: white;
  text-align: center;
  border-radius: 20px; /* Da forma redondeada */
  font-weight: bold;
}

.active {
  background-color: #4CAF50; /* Verde */
}

.inactive {
  background-color: #F44336; /* Rojo */
}
.loading-container p {
  margin-top: 10px; /* Espacio entre el spinner y el texto */
  color: #2AB2FF; /* Puedes cambiar el color según tu diseño */
  font-size: 16px; /* Ajusta el tamaño del texto */
}
  .search-box {
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    font-family: "Lexend";
  }
  
  .buttons {
    display: flex; /* Usa Flexbox para controlar la alineación de los botones */
    justify-content: flex-end; /* Alinea los botones al final del contenedor (derecha) */
    margin-bottom: 20px;
    font-family: "Lexend";
  }
  
  .buttons button {
    padding: 10px 20px;
    margin-right: 10px;
    background-color: #2AB2FF; /* Color azul claro como en Figma */
    color: white; /* Texto blanco */
    border: none;
    border-radius: 5px; /* Esquinas redondeadas */
    cursor: pointer;
    font-family: "Lexend";
    transition: background-color 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra sutil */
  }
  
  .buttons button:hover {
    background-color: #1A91DA; /* Un tono de azul más oscuro al pasar el cursor */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15); /* Sombra más prominente al pasar el cursor */
  }
  
  h1{
    color:white;
    font-family: "Lexend";
  }.table-container {
    overflow: hidden; /* Oculta cualquier cosa que sobresalga del contenedor */
    border-radius: 8px; /* Aplica esquinas redondeadas al contenedor */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra opcional para el contenedor */
  }
  
  table {
    width: 100%;
    border-collapse: collapse; /* Colapsa los bordes de la tabla */
  }
  
  th, td {
    padding: 10px;
    text-align: left;
    background-color: #fafafa; /* Fondo para las celdas */
  }
  
  th {
    background-color: #122B52;
    color: white;
    font-family: "Lexend";
  }
  
  td {
    background-color: #fafafa;
    font-family: "Lexend";
  }